:root {
    /* Paleta de colores */
    --amarillo: #EAC926;
    --azul: #03264C;
    --celeste: #1259c3;
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde: #39b54a;

    --black: #000000;
    --white: #ffffff;
  
    /* Tipografía */
    --font-family: 'Roboto', sans-serif;

    /*Tamaño de fuente*/
    --cuerpo: 12px;
    --titulares: 24px;
    --precios: 18px;
    --descuentos: 16px;
    --descripciones: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--cuerpo); 
}

/*header*/
header {
    background-color: var(--amarillo);
    padding: 20px;
}
h2 {
    font-size: 24px; /* Tamaño para titulares */
    margin: 10px 0;
}
.logo {
    width: 200px;
    max-width: 100%;
}
.search {
    display: flex;
}
.searchlupa {
    display: inline-block;
}
.header-texto{
    text-align: center;
    margin: 10px 0;
    font-size: var(--titulares);
}
.burger-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.burger-menu {
    background-color: var(--celeste); 
    border-radius: 5px;
    width: 40px; 
    height: 40px; 
}
.burger-menu i {
    margin: 11px;
    color: var(--white); 
    font-size: 20px; 
}

/*main*/
main{
    background-color: var(--gris-claro);
}
.img-banner{
    width: 100%;
} 
.product-main {
    width: 90%; 
    margin: 0 auto;
}
.titulo {
    color: var(--gris-oscuro);
    margin-left: 8px;
    width: 100%;
}
.product{
    margin: 10px;
    width: 100%;
    margin-bottom: 20px;
}
.product p {
    font-size: var(--precios); 
}
.product p:nth-of-type(2) {
    font-size: var(--descuentos);
}
.product-img-div {
    flex: 0 0 auto; 
}
.img-product {
    width: 100%; 
    height: auto; 
    display: block; 
}
.product-detail{
    border-top: 1px solid var(--gris-claro);
    padding: 15px;
    position: relative;
    background-color: var(--white);
}
.product-detail{
    border-top: 1px solid var(--gris-claro);
    padding: 15px;
    position: relative;
    background-color: var(--white);
}
.price-container {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.price {
    flex: 30%; /* Precio ocupa el 30% */
    margin: 5px;
}
.discount {
    flex: 70%; /* Descuento ocupa el 70% */
    text-align: left; /* Alineación del descuento a la izquierda */
    margin: 5px;
}
.product-delivery-icon {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--verde);
    background-color: var(--white);
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
.product .product-delivery-icon {
    transition: transform 0.7s;
}
.product:hover .product-delivery-icon {
    transform: rotate(-90deg);
}
.product-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product .description {
    opacity: 0; /* Inicialmente ocultar la descripción */
    transition: opacity 0.5s, transform 0.5s; /* Añadir transición para opacidad y transformación */
    transform: translateY(-100%); /* Mover el texto hacia arriba */
}
.product:hover .description {
    opacity: 1; /* Mostrar la descripción al pasar el mouse */
    transform: translateY(0); /* Restablecer la posición del texto */
}
.product {
    transition: box-shadow 0.3s; /* Añadir una transición para suavizar el efecto */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0); 
}
.product:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.verde{
    color: var(--verde);
}

/*footer*/
footer p {
    font-size: 16px; /* Tamaño para descripciones en el footer */
}
.footer-section {
    background-color: var(--white); 
    padding: 20px;
    text-align: center; 
}

.footer-section i {
    font-size: 2em; 
    margin-bottom: 10px;
    color: var(--celeste); 
}
.footer-section i {
    color: var(--celeste); /* Color base de los iconos */
    transition: color 0.3s, transform 0.3s; /* Transición suave para color y tamaño */
}
.footer-section i:hover {
    color: var(--amarillo); /* Color al hacer hover */
    transform: scale(1.2); /* Aumenta el tamaño al hacer hover */
    cursor: pointer;
}

@media screen and (min-width: 361px) {
    /* Agrega estilos específicos para tablets aquí */
    .product {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}
@media screen and (max-width: 360px) {
    /* Oculta la descripción del artículo en dispositivos móviles */
    .description {
        display: none;
    }
}
@media screen and (min-width: 769px) {
    .div-header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-bottom: 20px;
    }
    .top-header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .div-logo,
    .section-search {
        margin: 0 10px; /* Añade un espacio entre los elementos si es necesario */
    }
    .navbar {
        display: flex;
        justify-content: space-around;
        gap: 100px;
    }
    .navbar ul {
        display: flex;
        list-style: none;
        gap: 30px;
        padding: 0;
        margin: 0;
    }
    .navbar ul li a {
        text-decoration: none;
        color: var(--black);
    }
    .product {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: calc(50% - 20px);
    }
    .titulo {
        width: 100%; /* Ocupa todo el ancho en tablet y desktop */
    }
    .mobile {
        display: none;
    }
   
}


@media screen and (max-width: 768px) {
    .div-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div-logo,
    .section-search {
        display: inline-block;
    }
    .shop-container {
        display: flex;
    }
    .shop-info {
        display: block;
    }
    .desktop, .tablet {
        display: none;
    }
    .burger-menu {
        display: none;
    }
    .mobile {
        display: block;
    }
    .btn-inline{
        display: inline;
    }

}
@media screen and (min-width: 968px) {
    .footer{
        display: flex;
    }
}
@media (min-width: 1024px) {
    .product {
        width: calc(25% - 20px); /* Cuatro artículos en desktop */
    }
}