.registration-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

.input-container {
    display: grid;
    gap: 10px;
}

input,
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="file"] {
    border: none;
}

.categories {
    margin: 10px 0;
}

.categories p {
    margin-bottom: 5px;
}

.categories label {
    display: block;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3366cc;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #5588dd;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}